<div class="container d-lg-flex flex-row justify-content-center pt-5">
    <div class="col-lg-8">
        <p>Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome
            coronavirus 2 (SARS-CoV-2). The disease was first identified in December 2019 in Wuhan, the capital of
            China's Hubei province, and has since spread globally, resulting in the ongoing 2019–20 coronavirus
            pandemic. As of 27 April 2020, more than 3.04 million cases have been reported across 185 countries
            and territories, resulting in more than 211,000 deaths. More than 894,000 people have recovered</p>
        <div class="embed-responsive embed-responsive-16by9 mb-3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w8eyvB07fTk"
                allowfullscreen></iframe>
        </div>
        <p>Common symptoms include fever, cough, fatigue, shortness of breath and loss of smell. While the
            majority of cases result in mild symptoms, some progress to viral pneumonia, multi-organ failure, or
            cytokine storm. More concerning symptoms include difficulty breathing, persistent chest pain, confusion,
            difficulty waking, and bluish skin. The time from exposure to onset of symptoms is typically around five
            days but may range from two to fourteen days.</p>
        <p>Recommended measures to prevent infection include frequent hand washing, maintaining physical distance from
            others (especially from those with symptoms), covering coughs, and keeping unwashed hands away from the
            face. In addition, the use of a face covering is recommended for those who suspect they have the
            virus and their caregivers.</p>
    </div>
    <div class="col-lg-4">
        <div class="p-3 bg-danger text-white text-center">
            <h2>WARNING</h2>
            <h3>For travelers
                arriving from countries with registered cases of respiratory infections
                caused by novel coronavirus (COVID-19)</h3>
        </div>
        <div class="p-3 bg-light text-secondary">
            <p>If you were in areas with outbreaks of COVID-19 infections, or if you
                have been in contact with persons suspect for the infection, or if you
                visited hospitals where cases of COVID-19 have been treated</p>
            <p><strong>in order to prevent transmission of the infection, but also to
                    protect your health, you must take following measures:</strong></p>
            <p>–&nbsp;&nbsp; reduce contacts with persons in your household, workplace
                or public places during the next 14 days,</p>
            <p>– &nbsp;if you notice symptoms of a respiratory infection (fever,
                sneezing, cough, runny nose, difficult breathing or other), put a mask
                on your mouth and nose, increase hand hygiene (wash your hands with warm
                water and soap frequently), avoid contacts with other persons, use a
                tissue when sneezing or coughing, and make a phone call to responsible
                epidemiologist of an institute of public health responsible for the
                territory you’re living in (the list is provided at the end of this
                document). The epidemiologist will give you instructions for further
                procedures. We kindly ask you to follow these instructions completely.
            </p>
        </div>
    </div>
</div>
