<div class="mt-3 justify-content-center">
    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary" [ngClass]="{
            'active':info === 'TotalConfirmed' || info === 'NewConfirmed' || info === 0
          }" *ngFor="let info of (period || labels)">
            <input type="radio" name="options" (click)="onClick(info)">
            {{ period ? info === 0 ? 'Whole period' : 'Last ' + info + ' days' : info }}
        </label>
    </div>
    <div class="mt-4">
        <canvas height="{{period ? '100' : '250'}}" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
            [chartType]="lineChartType" [colors]="lineChartColors">
        </canvas>
        <h5 class="text-center py-2">{{text}}</h5>
    </div>
</div>
