<div class="mt-3 justify-content-center">
    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
        <label class="btn" [ngClass]="{
            'btn-danger active':label === 'TotalConfirmed' || label === 'NewConfirmed',
            'btn-success':label === 'TotalRecovered' || label === 'NewRecovered',
            'btn-dark':label === 'TotalDeaths' || label === 'NewDeaths'
          }" *ngFor="let label of labels">
            <input type="radio" name="options" (click)="onClick(label)">
            {{ label }}
        </label>
    </div>
    <div class="mt-4">
        <canvas height="200" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType"
            [colors]="lineChartColors">
        </canvas>
        <h5 class="text-center py-2">{{numberOfData}} countries with most {{activeSort}} cases</h5>
    </div>
</div>
