<div class="d-flex justify-content-center mt-5" *ngIf="isLoading && !error">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="content d-md-flex vh-100" *ngIf="!isLoading">
    <div class="buttons-input d-flex flex-column mx-2">
        <div class="form-group mt-3 mr-3">
            <input type="text" class="form-control" placeholder="Find country" autocomplete="off"
                [(ngModel)]="searchText">
        </div>
        <div class="countries-list border border-secondary mb-2 p-2">
            <div *ngFor="let country of countries | filter : searchText">
                <button [routerLink]="['/location', country.Slug]"
                    class="btn btn-block btn-outline-secondary mt-1 text-truncate text-left"
                    [class.active]="activeCountry === country.Slug"
                    (click)="onSelectCountry(country.Slug)">{{ country.Country }}</button>
            </div>
        </div>
    </div>
    <div class="side-data col p-0" [ngClass]="{'d-flex justify-content-center align-items-center min-vh-100': error}">
        <div class="alert alert-secondary text-center" *ngIf="error">
            <h1 style="font-size: 100px;"><b>404</b></h1>
            <h3>{{ error }}</h3>
        </div>
        <div class="map" *ngIf="!error">
            <agm-map class="w-100 h-100" [latitude]="latitude" [longitude]="longitude">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
        <div class="d-xl-flex flex-xl-row-reverse p-3" *ngIf="!error">
            <div class="col-xl-6">
                <app-info-card class="row text-center mt-3" [data]="totalData"></app-info-card>
                <div class="bg-light text-center py-3 font-weight-bold align-self-center">
                    <h1>{{ weather.name }}</h1>
                    <h3>{{ weather.temp }}<sup>&#x2103;</sup></h3>
                    <h4 class="mt-5">
                        {{weather.temp>25 ? 'At this temperature, Covid-19 should be less active!': 'Weather conditions are suitable for spreading Covid-19!'}}
                    </h4>
                </div>
            </div>
            <app-charts class="col-xl-6" [chartData]="lineChartData" [labels]="period"
                [lineChartLabels]="lineChartLabels" [text]="text" [activeSort]="activeSort"
                (loadChartData)="onLoadChartData($event)">
            </app-charts>
        </div>
    </div>
</div>
