.countries-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.map {
  width: 100%;
  min-height: 40vh;
  height: 0;

  agm-map {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .buttons-input {
    width: 200px;
  }

  .countries-list {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
  }

  .side-data {
    height: calc(100vh - 58px);
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .buttons-input {
    width: 300px;
  }
}
