.countries-list {
  max-height: 200px;
  overflow-y: auto;
}

.map {
  width: 100%;
  height: 40vh;
}

@media (min-width: 768px) {
  .buttons-input {
    width: 200px;

    .countries-list {
      max-height: 100%;
      overflow-y: auto;
    }
  }

  .side-data {
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .buttons-input {
    width: 300px;
  }
}
