<div class="content" role="main">

  <h2>{{ title }}</h2>
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/location">Statistics for countries</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/about">About Covid-19</a>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>