<div class="col-sm-4 mb-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total confirmed:</h5>
            <h3 class="card-text">{{data.TotalConfirmed }}</h3>
            <p class="card-text text-danger" *ngIf="data.NewConfirmed">+{{data.NewConfirmed }}</p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total recovered:</h5>
            <h3 class="card-text">{{ data.TotalRecovered }}</h3>
            <p class="card-text text-danger" *ngIf="data.NewRecovered">+{{ data.NewRecovered }}</p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total deaths:</h5>
            <h3 class="card-text">{{ data.TotalDeaths }}</h3>
            <p class="card-text text-danger" *ngIf="data.NewDeaths">+{{ data.NewDeaths }}</p>
        </div>
    </div>
</div>